Bonjour  <%=@user.name%>,

Voici un nouveau code qui vous permettra de valider votre compte : <%=@user.confirmation_code%>.
Attention, ce code expirera dans <%=Application.fetch_env!(:yummy, :confirmation_code_expire_hours)%> heures.