<p>Bonjour <%=@user.name%>,</p>

<p>Bienvenue sur Yummy ! Votre compte est désormais créé.</p>
<p>Il ne vous reste plus qu'à le valider à l'aide du code suivant :</p>
<p><%=@user.confirmation_code%></p>