.recipes {
  margin-top: 30px;
  margin-bottom: 40px;

  .recipe {
    margin-bottom: 30px;
    .title-wrapper .title {
      margin-bottom: 0;
      a {
        color: $dark;
        &:hover {
          color: $primary;
        }
      }
    }
  }

  .load-more {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.recipe {
  .title-wrapper .title {
    display: inline-block;
  }

  .recipe-begin {
    color: $grey;
  }

  .recipe-actions a {
    margin-left: 10px;
  }
}
