.recipes {
  margin-top: 30px;
  margin-bottom: 40px;

  .recipe {
    margin-bottom: 30px;
    .title a {
      color: $dark;
      &:hover {
        color: $primary;
      }
    }
  }
}

.recipe {
  .title-wrapper .title {
    display: inline-block;
  }

  .recipe-begin {
    color: $grey;
  }
}
