.recipes {
  margin-top: 40px;
  margin-bottom: 40px;

  .recipe {
    margin-bottom: 30px;
    .recipe-image-wrapper {
      float: left;
      height: 100px;
      width: 100px;
      margin-right: 20px;
    }
    .title-wrapper .title {
      margin-bottom: 0;
      a {
        color: $dark;
        &:hover {
          color: $link;
        }
      }
    }
  }

  .load-more {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.recipe-show {
  .title-wrapper .title {
    margin-bottom: 10px;
  }
  .recipe-content {
    .recipe-image {
      display: block;
      margin-bottom: 20px;
      height: 250px;
    }
  }
}

.recipe-form {
  .recipe-image {
    display: inline-block;
  }
  .remove-image-link {
    vertical-align: bottom;
  }
}

.recipe {
  .title-wrapper .title {
    display: inline-block;
  }

  .recipe-info {
    color: $grey;
  }

  .recipe-actions a {
    margin-left: 10px;
  }

  .recipe-info-second {
    color: $grey-light;
  }

  .recipe-image {
    border-radius: 10px;
  }

  .comments {
    margin-top: 40px;
    .comment {
      margin-bottom: 20px;

      .comment-meta {
        color: #999;
        .comment-author,
        .comment-date {
          margin-right: 20px;
        }
      }
    }
  }
}
